th,
td {
    padding: 14px;
    font-size: 14px;
}

.btn-primary {
    background-color: #10489b !important;
}

.filterImg {
    width: 30px;
    height: 40px;
    cursor: pointer;
    margin-left: 5px;
}